:root {
  --prymary: red;
  --bg: white;
  --shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #000;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.partai {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 128, 249);
  height: 100vh;
  box-sizing: border-box;
  padding-bottom: 4rem;
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.partai .kolom-satu {
  background-color: rgb(88, 88, 247);
  height: 80vh;
  width: 40%;
  margin: 2rem 3% 2rem;
  border-radius: 20px;
}

.partai .content {
  background-color: rgb(195, 195, 245);
  height: 20vh;
  width: 94%;
  margin: 2rem 3% 2rem;
  border-radius: 20px;
}

.partai .content h3,
.partai .content-dua h3 {
  text-align: center;
  box-sizing: border-box;
  font-size: 3rem;
  color: rgb(2, 2, 126);
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-shadow: -1px -1px 0 rgb(255, 238, 6), 1px -1px 0 rgb(255, 238, 6),
    -1px 1px 0 rgb(255, 238, 6), 2px 2px 0 rgb(255, 238, 6);
}

.partai .content p,
.partai .content-dua p {
  font-size: 2rem;
  font-family: "Edu TAS Beginner";
  text-align: center;
}

.partai .content-dua h3 {
  box-sizing: border-box;
  padding-top: 2.2rem;
}

.partai .content-dua {
  background-color: rgb(255, 255, 255);
  height: 48vh;
  width: 94%;
  margin: 2rem 3% 2rem;
  border-radius: 20px;
}

.kolom-satu img {
  width: 50%;
  border-radius: 50%;
  display: block;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: auto;
}

.kolom-satu h1 {
  font-size: 3.2rem;
  font-weight: 600;
  color: green;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
  margin-top: -3rem;
}

.kolom-satu h2 {
  color: white;
  text-align: center;
  margin-top: 0.2rem;
  font-family: "Edu TAS Beginner";
  font-size: 4rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
}

.partai .kolom-dua {
  background-color: rgb(158, 248, 122);
  height: 80vh;
  width: 53%;
  margin-top: 2rem;
  margin-left: -2rem;
  border-radius: 20px;
}

.partai a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
  text-decoration: none;
  background: linear-gradient(red, white);
  padding: 0.2rem 1rem;
  border-radius: 10px;
  display: inline-block;
  margin: auto;
}

.partai a:hover {
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    2px 2px 0 #fff;
}

/* calon */

/* media */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 65%;
  }

  .partai .kolom-satu {
    height: 30vh;
    width: 100%;
    margin-bottom: -2rem;
  }

  .kolom-satu img {
    width: 20%;
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: auto;
  }

  .kolom-satu h2 {
    margin-top: -1rem;
  }

  .partai .kolom-dua {
    background-color: rgb(158, 248, 122);
    height: 50vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .partai .content {
    height: 10vh;
    width: 100%;
    margin-bottom: -1rem;
  }

  .partai .content h3 {
    margin-top: -0.5rem;
  }

  .partai .content p {
    font-weight: bold;
    margin-top: -2rem;
  }

  .partai .content-dua {
    height: 30vh;
    width: 94%;
  }

  .partai .content-dua h3 {
    margin-top: -1.3rem;
  }

  .partai .content-dua p {
    font-weight: bold;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 65%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 90%;
  }
}
